body {
  font-family: avenir;
}
.navbar {
  background: none;
}

.avenir-normal {
  font-weight: avenir;
}
.avenir {
  font-family: avenir;
  font-weight: 500;
}

.avenir-cat {
  font-family: avenir;
  font-weight: 800;
}

.avenir-sub {
  font-family: avenir;
  font-weight: 200;
}

.fontweightsub {
  font-weight: 100;
  font-family: avenir;
}

.photo-padding {
  padding-left: 150px;
}

h1 {
  color: white;
  font-weight: 900;
  margin-top: 70px;
  font-family: avenir;
}
.card-body {
  text-align: justify;
}

#pmfont {
  font-weight: bold;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 400;
}

/* .home-section .dark-overlay {
  position: "absolute";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1000px;
  background-color: rgba(0, 0, 0, 0.1);
} */

.navbar-toggler-icon {
  /* background-color: red; */
  color: black;
}

.navbar-toggler {
  background-color: black;
  color: black;
}

.home-section {
  background: url(../img/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
}

#gallery-pm {
  background: url(../img/product-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

#gallery-ux {
  background: url(../img/design-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
}

#about {
  background: url(../img/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

#software {
  background: url(../img/software-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 750px;
}

.fa-4x {
  color: #0097e6;
}

#contact-section {
  background: url(../img/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

.home-section .home-inner {
  padding-top: 225px;
}
.dribbble {
  background-color: #ea4c89;
  color: white;
}

.dribbble:hover {
  color: #ea4c89;
  background-color: white;
  border: 1px solid #ea4c89;
}

.linkedin {
  background-color: #0077b5;
  color: white;
}
.linkedin:hover {
  color: #0077b5;
  background-color: white;
  border: 1px solid #0077b5;
}
.github {
  background-color: #211f1f;
  color: white;
}

.github:hover {
  color: #211f1f;
  background-color: white;
  border: 1px solid #211f1f;
}

.youtube {
  background-color: #6c5ce7;
  color: white;
}

.youtube:hover {
  color: #6c5ce7;
  background-color: white;
  border: 1px solid #6c5ce7;
}
.soundcloud {
  background-color: #ff7700;
  color: white;
}

.soundcloud:hover {
  color: #ff7700;
  background-color: white;
  border: 1px solid #ff7700;
}

.fly-in-text {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-inline-start: 0px;
}

.fly-in-text li {
  display: inline-block;
  margin-right: 25px;
  font-family: Avenir;
  font-weight: 300;
  font-size: 4em;
  opacity: 1;
  transition: all 2.5s ease;
}

.fly-in-text li:last-child {
  margin-right: 0;
}

.fly-in-text.hidden li {
  opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
  transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
  transform: translateX(20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(7) {
  transform: translateX(30px) translateY(200px);
}

.box {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
  transform: rotate(45deg) translate(-20px, -20px);
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

#about .fas {
  color: black;
  padding: 5px;
  border-radius: 5px;
}

#gallery {
  background-color: whitesmoke;
}
.pointer {
  cursor: pointer;
}

.alert {
  text-align: center;
  padding: 8px;
  background: #79c879;
  color: white;
  margin-top: 10px;
  display: none;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media screen AND (max-width: 768px) {
  .picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* .fly-in-text ul {
    display: inline-block;
  } */
  .fly-in-text li {
    margin-right: 5px;
    font-family: Avenir;
    font-weight: 100;
    font-size: 1em;
    opacity: 1;
  }
  .fly-in-text {
    list-style: none;
    /* position:; */
    /* left: 50%; */
    /* top: 50%; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
  }

  ul.fly-in-text {
    /* text-align: center; */
    padding-inline-start: 0px;
  }

  .home-section {
    background: url(../img/simplebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* min-height: 1000px; */
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .welcome {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #gallery-pm {
    background: url(../img/simplebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
  }

  #gallery-ux {
    background: url(../img/simplebg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;
  }

  #about {
    background: url(../img/simplebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
  }

  #software {
    background: url(../img/simplebg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
  }

  #contact-section {
    background: url(../img/simplebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
  }
}
